/* Styling the container around app-dynamic-section */
app-dynamic-section {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: #f1f1f1; /* Optional, if you want to add a background around the dynamic section */
  border-radius: 8px;
}
